<h3>Registros de la tabla que cumplen los criterios:</h3>  "<%= search %>"
<div align=center>
<table>
	<tr><th> Pregunta </th></tr>
<% var i; for (i=0; i < quizes.length; i++) { %>	
	<tr><td><a href="../quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>
</div>